@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@700&display=swap');
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

/*NAVBAR*/
.navbar {
  display: flex;
  justify-content: center;
  background: black;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar a {
  font-weight: bold;
  font-size: 1.5rem;
  color: #5cbdaa;
  padding: 1rem 2.5rem;
  text-decoration: none;
}

.navbar a::after {
  display:block;
  content: '';
  border-bottom: solid 2px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.navbar a:hover:after { 
  transform: scaleX(1); 
}

#particles {
  background-color: black;
  height: 100vh;
}
.pg-canvas {
  opacity: 0.4;

}
/*JUMBOTRON*/
.jumbotron {
  height: 20%;
  width: 50%;
  position: relative;
  bottom: 90%;
  left: 25%;
}

.jumbotron-text {
  /*TAGLINE UNDER NAME*/
  font-weight: 400;
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 150px;
}

.jumbotron-text h1 {
  text-transform: uppercase;
  
  font-family: 'Brygada 1918', serif;
  font-weight: 700;
  color: white;
  font-size: 2.4em;
}

.jumbotron-text p {
  padding: 2.5rem 0;
  font-size: 2.5rem;
}

/*SOCIAL LINKS*/
.ul-social {
  text-align: center;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 3em;
  color: white;
  padding: 4rem;
}

/*ARROW LINK*/
#down-arrow {
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
}

#down-arrow a {
  color: white;
}

/*CONTENT*/
.container {
  /*sets up flexbox*/
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  background: rgba(0, 0, 0, 0);
}

/* .side-content {
  flex: 0 0 16.6%;
} */

.main-content {
  /* flex: 0 0 66.6%; */
  width: 50%;
  margin: 15rem auto;
}

.main-content p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

/* .side-content-sm {
  
  width: 50%;
} */

/* .main-content-lg {
  margin: 5rem 0;

} */

.projetos-container {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.514);
  padding: 0 5rem;
  gap: 5rem 10rem;
}
.projeto {
  width: 40vw;
}
.projetos-container h2 {
  
  grid-column: span 2;
}
.projetos-container img {
  max-width: 760px;
  border-radius: 10px;
}
.projeto h3, p {
  text-align: center;
  padding: 0 2rem;
  color: white;
}
.projeto p {
  text-align: justify;
}
/* .box-shadow {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
} */

h2 {
  font-weight: 200;
  font-size: 2rem;
  color: #5cbdaa;
  text-transform: uppercase;
  text-align: center;
}

.content-body {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.75);
}

/*EDUCATION*/
/* .card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 30px;
}

.card-header {
  padding: 0.75rem 1.25rem;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-content {
  padding: 0.25rem 1.25rem;
  flex: 1 1 auto;
}

h4 {
  margin: 0;
  font-weight: 400;
  color: grey;
}

.job-title {
  float: right;
} */

/*PROJECTS*/
/* .project-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.project-image {
  flex: 1 0 auto;
}

.project-image img {
  display: block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.project-content {
  flex: 1 1 auto;
  padding: 1.25rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
} */

/*SKILLS*/
.ul-skills {
  text-align: center;
  padding-left: 0;
}

.li-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: white;
  background: rgb(0, 0, 0);
  list-style: none;
  cursor: default;
  font-size: 1.2em;
}

/*CONTACT*/
.blue {
  background: rgb(0, 0, 0);
  text-align: center;
}

.contact {
  max-width: 500px;
  margin: 0 auto;
}

/* .contact input, .contact textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #000000;
  color: #fff;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
} */

/* .contact textarea {
  height: 150px;
  resize: none;
} */

/* .contact button {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #3498db;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
} */
