.container__cards {
  display: flex;
  color: #ffff;
  font-family: "Work Sans", sans-serif;
  background-color: rgb(41, 42, 45);
  margin: 3rem auto;
  width: inherit;
  height: 15rem;
  border-radius: 5px;
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 85%;
    margin: 0 auto;
    padding: 1.5rem 0;
  }
  .container__repositorio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .repositorio {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
      a {
        color: #ffff;
        transition: 0.3s;
        &:hover {
          color: #02a88a;
          transition: 0.3s;
        }
      }
    }
    .linguagens {
      display: flex;
      gap: 0.5rem;
      img {
        height: 25px;
      }
    }
  }
}
