.container__cards {
  display: flex;
  color: #ffff;
  font-family: "Work Sans", sans-serif;
  background-color: rgb(41, 42, 45);
  margin: 3rem auto;
  max-width: 20rem;
  min-height: 15rem;
  border-radius: 5px;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 85%;
  margin: 0 auto;
  padding: 1.5rem 0;
}
.container__repositorio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.repositorio {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.linguagens {
  display: flex;
  gap: 0.5rem;
}

.linguagens img {
  height: 25px;
}
